*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 2500px) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 450px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lora", serif;
  background-color: #f9f7f6; }

.container {
  display: grid;
  grid-template-rows: 6rem repeat(2, min-content) repeat(2, 80vh) repeat(2, max-content);
  grid-template-columns: repeat(16, 1fr); }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: max-content repeat(2, min-content) repeat(2, 600px) repeat(2, max-content); } }
  @media screen and (max-height: 700px) {
    .container {
      grid-template-rows: max-content repeat(2, min-content) repeat(2, 600px) repeat(2, max-content); } }

.header {
  background-color: #f9f7f6;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 30rem max-content;
  grid-column-gap: 2rem;
  align-items: center;
  padding: 0 0.5rem;
  color: #320a28ff;
  padding: 0 2rem; }
  @media only screen and (max-width: 43.75em) {
    .header {
      grid-template-columns: 1fr max-content;
      grid-template-rows: repeat(2, max-content);
      padding: 1rem 2rem;
      grid-row-gap: 2rem; } }
  .header__title {
    position: relative;
    justify-self: center;
    align-self: end;
    font-size: 5.2rem;
    color: rgba(224, 214, 138, 0.8);
    font-style: italic;
    z-index: 10;
    transform: translateY(1rem);
    text-shadow: 1px 1px 1px rgba(50, 10, 40, 0.35), 2px 2px 2px rgba(50, 10, 40, 0.4), 2px 2px 0 #f9f7f6, 3px 3px 0 #f9f7f6, -1px -1px 0 #f9f7f6, -2px -2px 0 #f9f7f6, -3px 3px 0 #f9f7f6; }
    @media only screen and (max-width: 43.75em) {
      .header__title {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        transform: translateX(0);
        font-size: 4rem;
        text-shadow: 1px 1px 1px rgba(50, 10, 40, 0.35), 2px 2px 2px rgba(50, 10, 40, 0.4); } }
  .header__search-container {
    position: relative;
    width: 100%;
    max-width: 38em; }
    @media only screen and (max-width: 43.75em) {
      .header__search-container {
        justify-self: center; } }
    .header__search-container svg {
      position: absolute;
      top: 10px;
      right: 3%;
      fill: #e0d68aff;
      cursor: pointer; }
      @media only screen and (max-width: 50em) {
        .header__search-container svg {
          top: 11px; } }
  .header__search-bar {
    justify-self: center;
    width: 100%;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    border: solid 1px #aaa;
    font-family: "Lora", serif;
    color: currentColor;
    text-transform: uppercase;
    font-size: 16px; }
    .header__search-bar:focus {
      border-color: currentColor;
      outline: none; }
  .header .nav {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 1.2rem;
    justify-content: end;
    justify-items: start;
    padding: 0 1rem;
    list-style: none;
    transition: all 0.2s; }
    .header .nav__link:link, .header .nav__link:visited {
      text-decoration: none;
      color: currentColor;
      font-size: 1.3rem;
      text-transform: uppercase;
      cursor: pointer; }
      .header .nav__link:link:hover, .header .nav__link:visited:hover {
        color: #e0d68aff; }
    @media only screen and (max-width: 75em) {
      .header .nav {
        display: none; } }
  .header .button-wrapper {
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .header__nav-btn {
    display: none;
    height: 2px;
    width: 4rem;
    background-color: #111;
    border: none; }
    .header__nav-btn::before, .header__nav-btn:after {
      display: block;
      content: "";
      width: 4rem;
      background-color: #111;
      height: 2px; }
    .header__nav-btn:before {
      transform: translateY(-0.8rem); }
    .header__nav-btn:after {
      transform: translateY(0.6rem); }
    @media only screen and (max-width: 75em) {
      .header__nav-btn {
        display: block; } }

.slide-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #eed;
  width: 0;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  z-index: 35;
  transition: all .3s; }
  @media only screen and (min-width: 75em) {
    .slide-menu {
      width: 0 !important; } }
  .slide-menu ul {
    list-style: none;
    margin-top: -10px; }
  .slide-menu li {
    display: block;
    width: 100%;
    font-size: 15px;
    padding-left: 20px; }
  .slide-menu a {
    color: #111;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px 10px;
    cursor: pointer;
    transition: all .3s; }
    @media only screen and (min-width: 43.75em) {
      .slide-menu a:hover {
        background-color: #fffde3;
        color: #e0d68aff; } }

.close-menu {
  font-size: 55px;
  padding-left: 20px;
  cursor: pointer; }

.banner {
  background-color: #320a28ff;
  background-image: linear-gradient(to bottom right, rgba(50, 10, 40, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(to bottom left, #320a28ff, #000);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 4rem 2vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 6vw);
  grid-gap: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .banner {
      grid-gap: 2px;
      padding: 2px;
      grid-template-rows: repeat(6, 10vw); } }
  @media only screen and (max-width: 50em) {
    .banner {
      grid-gap: 0;
      padding: 0; } }
  .banner__item {
    position: relative;
    transition: all 1.4s ease-in-out;
    border: solid 4px rgba(224, 214, 138, 0.1); }
    @media only screen and (max-width: 43.75em) {
      .banner__item {
        border: none; } }
    .banner__item__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(50, 10, 40, 0.5), rgba(50, 10, 40, 0.47));
      z-index: 10; }
      @media only screen and (max-width: 50em) {
        .banner__item__overlay {
          background-image: linear-gradient(rgba(50, 10, 40, 0.05), rgba(50, 10, 40, 0.1)); } }
      .banner__item__overlay--lower {
        z-index: 4; }
    .banner__item--top {
      z-index: 5; }
    .banner__item--1 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 2; }
    .banner__item--2 {
      grid-row: 1 / span 2;
      grid-column: 3 / span 3; }
    .banner__item--3 {
      grid-row: 1 / span 4;
      grid-column: 6 / span 2; }
    .banner__item--4 {
      grid-row: 3 / span 2;
      grid-column: 3 / span 3; }
    .banner__item--5 {
      grid-row: 4 / -1;
      grid-column: 1 / span 2; }
    .banner__item--6 {
      grid-row: 5 / -1;
      grid-column: 3 / 8; }
    .banner__item--7 {
      grid-row: 4 / -1;
      grid-column: 8 / span 3; }
    .banner__item--8 {
      grid-row: 1 / span 3;
      grid-column: 8 / span 3; }
    .banner__item--9 {
      grid-row: 1 / -1;
      grid-column: 11 / -1; }
  .banner__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-column-gap: 2rem;
  grid-column: 2 / 16;
  grid-row: 3 / 4;
  padding: 10vw 0; }
  @media only screen and (max-width: 100em) {
    .features {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 12rem;
      grid-column-gap: 4rem;
      grid-column: 4 / 14; } }
  @media only screen and (max-width: 1015px) {
    .features {
      grid-column: 1 / 17; } }
  @media only screen and (max-width: 740px) {
    .features {
      grid-template-columns: 1fr;
      grid-row-gap: 6rem;
      padding: 15vw 0; } }
  .features__card {
    height: 419px;
    width: 319px;
    border: solid 5px rgba(203, 145, 115, 0.33);
    padding: 1vw 1.5rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: inset 5px 4px 2px rgba(0, 0, 0, 0.12), inset -4px -5px 2px rgba(0, 0, 0, 0.12), 4px 4px 12px rgba(0, 0, 0, 0.2), -4px 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.2s; }
    @media only screen and (max-width: 550px) {
      .features__card {
        height: 375px;
        width: 270px; } }
    @media not all and (hover: none) {
      .features__card:hover {
        transform: translateY(-1rem);
        box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.1), inset -4px -4px 2px rgba(0, 0, 0, 0.1), 4px 3rem 16px rgba(0, 0, 0, 0.2), -4px 4px 12px rgba(0, 0, 0, 0.2); } }
    .features__card__svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: #cb9173ff;
      margin: 1.5rem 0; }
    .features__card__description {
      font-size: 1.45rem;
      line-height: 1.4;
      color: #6d5d4b;
      font-style: italic;
      padding: 0.5rem 0.5rem; }
      @media only screen and (max-width: 1000px) {
        .features__card__description {
          font-size: 2rem;
          line-height: 2.6rem; } }

.section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(12, 1fr);
  position: relative; }
  .section__description-box {
    z-index: 25;
    grid-row: 4 / -1;
    color: #e0d68aff;
    padding: 3vw 2rem;
    font-family: "Alegreya SC", serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly; }
    @media only screen and (max-width: 75em) {
      .section__description-box {
        grid-column: 1 / -1 !important; } }
    @media only screen and (max-width: 43.75em) {
      .section__description-box {
        flex-direction: column;
        justify-content: center; } }
    @media only screen and (max-width: 430px) {
      .section__description-box {
        justify-content: center; } }
    .section__description-box button {
      align-self: center; }
      @media only screen and (max-width: 430px) {
        .section__description-box button {
          align-self: normal; } }
    .section__description-box p {
      text-align: center;
      font-size: 3.4rem;
      line-height: 1.3;
      width: 60%;
      text-shadow: 1px 1px 3px #320a28ff, -1px -1px 2px #320a28ff; }
      @media only screen and (max-width: 43.75em) {
        .section__description-box p {
          width: 95%;
          font-size: 2.5rem;
          transform: translateY(-2rem); } }
      @media only screen and (max-width: 430px) {
        .section__description-box p {
          font-size: 2.1rem; } }
    .section__description-box--whiskey {
      grid-column: 2 / 10; }
      @media only screen and (max-width: 43.75em) {
        .section__description-box--whiskey {
          flex-direction: column-reverse;
          justify-content: space-between; } }
      @media only screen and (max-width: 430px) {
        .section__description-box--whiskey {
          justify-content: center; } }
      @media only screen and (max-width: 430px) {
        .section__description-box--whiskey button {
          align-self: normal; } }
    .section__description-box--wine {
      grid-column: 4 / 12; }
      .section__description-box--wine button {
        align-self: flex-start; }
        @media only screen and (max-width: 430px) {
          .section__description-box--wine button {
            align-self: normal; } }
  .section .top-border {
    background-color: #320a28ff;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 7.5rem;
    color: #e0d68aff;
    font-style: italic;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 3px 1px rgba(109, 93, 75, 0.5), 3px 4px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    z-index: 5;
    margin-top: -5px; }
    @media only screen and (max-width: 43.75em) {
      .section .top-border {
        font-size: 5.5rem;
        letter-spacing: 0.5rem; } }
    @media only screen and (max-width: 430px) {
      .section .top-border {
        font-size: 4rem; } }
  .section .border-bottom {
    grid-row: 4 / -1;
    grid-column: 1 / -1;
    background-color: #111; }

.wine-section {
  grid-row: 4 / 5; }
  .wine-section .top-border--wine {
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 50%, 40% 100%, 0% 100%);
    padding-left: 2vw; }
    @media only screen and (max-width: 75em) {
      .wine-section .top-border--wine {
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 60% 50%, 50% 100%, 0% 100%); } }
    @media only screen and (max-width: 43.75em) {
      .wine-section .top-border--wine {
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 70% 50%, 50% 100%, 0% 100%);
        padding-left: 4vw; } }
  .wine-section figure {
    position: relative;
    grid-row: 1 / 5;
    grid-column: 1 / 13; }
    .wine-section figure img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      filter: saturate(4); }
  .wine-section .border-bottom--wine {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 10% 100%); }

.whiskey-section {
  grid-row: 5 / 6; }
  .whiskey-section .top-border--whiskey {
    justify-content: flex-end;
    padding-right: 2vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 50% 50%, 0 50%); }
    @media only screen and (max-width: 75em) {
      .whiskey-section .top-border--whiskey {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 30% 50%, 0 50%); } }
    @media only screen and (max-width: 43.75em) {
      .whiskey-section .top-border--whiskey {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 20% 50%, 0 50%);
        padding-right: 4vw; } }
  .whiskey-section figure {
    position: relative;
    grid-row: 1 / 5;
    grid-column: 1 / 13; }
    .whiskey-section figure img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      filter: saturate(2); }
  .whiskey-section .border-bottom--whiskey {
    clip-path: polygon(0 0, 70% 0, 90% 100%, 0 100%); }

.beer-section {
  padding: 6vw 3vw 10vw;
  grid-column: 1 / -1;
  grid-row: 7 / 8; }
  @media only screen and (max-width: 50em) {
    .beer-section {
      padding: 20vw 5vw; } }
  .beer-section__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-column-gap: 2rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 100em) {
      .beer-section__container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 12rem;
        grid-column-gap: 4rem; } }
    @media only screen and (max-width: 50em) {
      .beer-section__container {
        display: block;
        margin: 0 auto; } }
    @media only screen and (max-width: 100em) {
      .beer-section__container {
        width: 80%;
        margin: 2rem auto; } }
    @media only screen and (max-width: 75em) {
      .beer-section__container {
        width: 100%; } }
  .beer-section__card {
    width: 19vw;
    height: 25vw;
    background-color: #fff;
    justify-self: center;
    max-width: 425px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 60% repeat(2, 1fr);
    overflow: hidden;
    background-color: rgba(203, 145, 115, 0.32);
    border-radius: 0.5rem;
    color: #320a28ff;
    grid-row-gap: 0.5rem;
    justify-items: center;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 100em) {
      .beer-section__card {
        width: 38vw;
        height: 45vw; } }
    @media only screen and (max-width: 50em) {
      .beer-section__card {
        width: 70vw;
        height: 78vw; }
        .beer-section__card:not(:last-child) {
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 50em) {
      .beer-section__card {
        margin: 0 auto; } }
    .beer-section__card:not(:last-child) {
      cursor: pointer; }
    .beer-section__card:not(:last-child):hover .overlay {
      bottom: 0; }
    .beer-section__card--final {
      display: block; }
      .beer-section__card--final .half {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .beer-section__card--final .half--1 {
          background-image: url("../img/beer-1-banner-sm.jpg");
          background-size: cover;
          background-position: center; }
          .beer-section__card--final .half--1::after {
            content: "OR";
            display: block;
            position: absolute;
            bottom: 49.5%;
            font-size: 3rem;
            font-family: "Alegreya SC", serif;
            color: #6d5d4b;
            left: 50%;
            z-index: 20;
            transform: translateX(-50%);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75); }
        .beer-section__card--final .half--2 {
          display: flex;
          flex-direction: column; }
          .beer-section__card--final .half--2 svg {
            height: 6rem;
            width: 6rem;
            fill: #320a28ff;
            margin-bottom: 1rem; }
        .beer-section__card--final .half:first-child {
          border-bottom: 4rem solid #f9f7f6; }
        .beer-section__card--final .half button {
          position: absolute; }
  .beer-section__figure {
    grid-row: 1 / 2;
    width: 100%;
    height: 100%; }
    .beer-section__figure img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      filter: contrast(1.5); }
  .beer-section__heading {
    font-size: 3rem;
    align-self: end;
    padding: 0 1rem; }
  .beer-section__description {
    grid-row: 3 / -1;
    align-self: start;
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: "Alegreya SC", serif;
    font-style: italic;
    text-align: center;
    padding: 0 1.7rem; }
  .beer-section .overlay {
    position: absolute;
    height: 110%;
    width: 110%;
    bottom: -115%;
    background-color: rgba(50, 10, 40, 0.85);
    transition: all 0.4s; }
    @media only screen and (max-width: 75em) {
      .beer-section .overlay {
        bottom: 0;
        background-color: transparent; } }
    .beer-section .overlay button {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translateX(-50%); }

.footer {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  background-color: #111;
  padding: 4vw 2vw 1vw;
  margin-bottom: 12rem;
  border-bottom: 1rem solid #320a28ff;
  border-top: 1rem solid #320a28ff;
  box-shadow: 0 1.5rem 0 rgba(203, 145, 115, 0.85), 0 -1.5rem 0 rgba(203, 145, 115, 0.85); }

.tag {
  text-align: center;
  padding: 0 6.5rem;
  font-size: 4.5rem;
  letter-spacing: 2.4rem;
  font-family: "Alegreya SC", serif;
  color: #f9f7f6;
  margin-bottom: 2vw; }
  @media only screen and (max-width: 360px) {
    .tag {
      font-size: 3.5rem;
      letter-spacing: 1.2rem;
      padding: 0;
      margin-bottom: 3rem; } }

.social-links {
  width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 360px) {
    .social-links {
      width: 30rem; } }
  .social-links .social-link {
    width: 5rem;
    height: 5rem;
    background-color: #aaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.15); }
    @media only screen and (max-width: 360px) {
      .social-links .social-link {
        width: 4rem;
        height: 4rem; } }
    .social-links .social-link__link {
      display: inline-block;
      height: 4rem;
      width: 4rem;
      background-color: white;
      align-self: center;
      justify-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.3), inset -5px 1rem 1rem rgba(0, 0, 0, 0.3);
      transition: all 0.35s; }
      @media not all and (hover: none) {
        .social-links .social-link__link:hover {
          box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.4), inset -1rem -1rem 1rem rgba(0, 0, 0, 0.35); } }
      @media only screen and (max-width: 360px) {
        .social-links .social-link__link {
          width: 2.75rem;
          height: 2.75rem;
          box-shadow: none; } }
    .social-links .social-link svg {
      height: 3rem;
      width: 3rem;
      fill: #6d5d4b; }

.copy {
  color: #f9f7f6;
  margin-top: 6rem;
  font-size: 1.1rem; }

.heading-2 {
  font-family: "Alegreya SC", serif;
  font-size: 2.1rem;
  color: #6d5d4b;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-column-gap: 8px; }
  .heading-2::before, .heading-2::after {
    height: 5px;
    border-radius: 2px;
    background-color: currentColor;
    content: "";
    display: block; }

.button {
  border: none;
  border-radius: none;
  padding: 2rem 4rem;
  background-color: #320a28ff;
  font-size: 2.1rem;
  color: #f9f7f6;
  cursor: pointer;
  font-family: "Alegreya SC", serif;
  transition: all 0.2s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 400px) {
    .button {
      font-size: 1.9rem;
      padding: 1.2rem 3rem; } }
  @media only screen and (max-width: 315px) {
    .button {
      font-size: 1.7rem; } }
  .button:hover {
    background-color: #2a0821; }
  .button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6); }
  .button:focus {
    outline: none; }

.btn-link:link,
.btn-link:visited {
  color: #6d5d4b;
  font-size: 2rem;
  font-family: "Alegreya SC", serif;
  transition: all 0.2s; }

.btn-link:hover {
  color: #320a28ff; }

.small-heading {
  display: inline-block;
  font-size: 5rem;
  font-style: italic;
  color: rgba(50, 10, 40, 0.65);
  text-shadow: 1px 2px 1px rgba(109, 93, 75, 0.65);
  transform: rotate(-35deg) translate(8rem, -2rem); }
  @media only screen and (max-width: 100em) {
    .small-heading {
      transform: rotate(-35deg) translate(8rem, -1rem); } }
  @media only screen and (max-width: 50em) {
    .small-heading {
      transform: rotate(-35deg) translate(4rem, -1rem);
      font-size: 3.8rem; } }
  @media only screen and (max-width: 450px) {
    .small-heading {
      font-size: 3.2rem;
      color: rgba(50, 10, 40, 0.95);
      text-shadow: none; } }
  @media only screen and (max-width: 315px) {
    .small-heading {
      font-size: 2.8rem; } }

.large-heading {
  font-size: 10rem;
  color: rgba(109, 93, 75, 0.65);
  text-shadow: 2px 3px 3px rgba(109, 93, 75, 0.75);
  font-family: "Alegreya SC", serif;
  font-style: italic; }
  @media only screen and (max-width: 100em) {
    .large-heading {
      font-size: 8rem; } }
  @media only screen and (max-width: 50em) {
    .large-heading {
      font-size: 6rem; } }
  @media only screen and (max-width: 450px) {
    .large-heading {
      font-size: 4.8rem;
      color: rgba(109, 93, 75, 0.85);
      text-shadow: 1px 1px 3px rgba(109, 93, 75, 0.75); } }
  @media only screen and (max-width: 315px) {
    .large-heading {
      font-size: 3.5rem; } }

.u-margin-bottom-med {
  margin-bottom: 1rem !important; }

.u-font-default {
  font-size: 1.6rem !important; }

.u-small-padding {
  padding: 1.5rem 1.8rem !important; }
