.banner {
  background-color: $dark-purple;
  background-image: linear-gradient(
      to bottom right,
      rgba($dark-purple, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(to bottom left, $dark-purple, #000);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 4rem 2vw;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 6vw);
  grid-gap: 1rem;

  @media only screen and(max-width: $medium-bp) {
    grid-gap: 2px;
    padding: 2px;
    grid-template-rows: repeat(6, 10vw);
  }

  @media only screen and(max-width: $small-bp) {
    grid-gap: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    transition: all 1.4s ease-in-out;
    border: solid 4px rgba($flax, 0.1);

    @media only screen and(max-width: $medium-bp) {
      border: none;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        rgba($dark-purple, 0.5),
        rgba($dark-purple, 0.47)
      );
      z-index: 10;

      @media only screen and(max-width: $small-bp) {
        background-image: linear-gradient(
        rgba($dark-purple, 0.38),
        rgba($dark-purple, 0.3)
      );
      }

      &--lower {
        z-index: 4;
      }
    }

    &--top {
      z-index: 5;
    }

    &--1 {
      grid-row: 1 / span 3;
      grid-column: 1 / span 2;
    }

    &--2 {
      grid-row: 1 / span 2;
      grid-column: 3 / span 3;
    }

    &--3 {
      grid-row: 1 / span 4;
      grid-column: 6 / span 2;
    }

    &--4 {
      grid-row: 3 / span 2;
      grid-column: 3 / span 3;
    }

    &--5 {
      grid-row: 4 / -1;
      grid-column: 1 / span 2;
    }

    &--6 {
      grid-row: 5 / -1;
      grid-column: 3 / 8;
    }

    &--7 {
      grid-row: 4 / -1;
      grid-column: 8 / span 3;
    }

    &--8 {
      grid-row: 1 / span 3;
      grid-column: 8 / span 3;
    }

    &--9 {
      grid-row: 1 / -1;
      grid-column: 11 / -1;
    }
  }

  &__img {
    @include objectImage;
  }
}
