.header {
  background-color: #f9f7f6;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 1fr 30rem max-content;
  grid-column-gap: 2rem;
  align-items: center;
  padding: 0 0.5rem;
  color: $dark-purple;
  padding: 0 2rem;

  @media only screen and(max-width: $medium-bp) {
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(2, max-content);
    padding: 1rem 2rem;
    grid-row-gap: 2rem;
  }

  &__title {
    position: relative;
    justify-self: center;
    align-self: end;
    font-size: 5.2rem;
    color: rgba($flax, 0.8);
    font-style: italic;
    z-index: 10;
    transform: translateY(1rem);
    text-shadow: 1px 1px 1px rgba($dark-purple, 0.35),
      2px 2px 2px rgba($dark-purple, 0.4), 2px 2px 0 $color-grey-light-1,
      3px 3px 0 $color-grey-light-1, -1px -1px 0 $color-grey-light-1,
      -2px -2px 0 $color-grey-light-1, -3px 3px 0 $color-grey-light-1;

    @media only screen and(max-width: $medium-bp) {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      transform: translateX(0);
      font-size: 4rem;
      text-shadow: 1px 1px 1px rgba($dark-purple, 0.35),
        2px 2px 2px rgba($dark-purple, 0.4);
    }
  }

  &__search-container {
    position: relative;
    width: 100%;
    max-width: 38em;

    @media only screen and(max-width: $medium-bp) {
      justify-self: center;
    }

    svg {
      position: absolute;
      top: 10px;
      right: 3%;
      fill: $flax;
      cursor: pointer;

      

      @media only screen and(max-width: $small-bp) {
        top: 11px;
      }
    }
  }

  &__search-bar {
    justify-self: center;
    width: 100%;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    border: solid 1px $color-grey-light-2;
    font-family: $font-primary;
    color: currentColor;
    text-transform: uppercase;
    font-size: 16px;

    &:focus {
      border-color: currentColor;
      outline: none;
    }
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 1.2rem;
    justify-content: end;
    justify-items: start;

    padding: 0 1rem;
    list-style: none;
    transition: all 0.2s;

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: currentColor;
      font-size: 1.3rem;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: $flax;
      }
    }

    @media only screen and(max-width: $large-bp) {
      display: none;
    }
  }

  .button-wrapper {
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__nav-btn {
    display: none;
    height: 2px;
    width: 4rem;
    background-color: #111;
    border: none;

    &::before,
    &:after {
      display: block;
      content: "";
      width: 4rem;
      background-color: #111;
      height: 2px;
    }

    &:before {
      transform: translateY(-0.8rem);
    }

    &:after {
      transform: translateY(0.6rem);
    }

    @media only screen and(max-width: $large-bp) {
      display: block;
    }
  }
}


.slide-menu {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  background-color: #eed;
  width: 0;
  box-shadow: -5px 0 5px rgba(0,0,0,.25);
  z-index: 35;
  //transition: width .3s;

  @media only screen and(min-width: $large-bp) {
    width: 0 !important;
  }

  ul {
    list-style: none;
    margin-top: -10px;
  }

  li {
    display: block;
    width: 100%;
    font-size: 15px;
    padding-left: 20px;
  }

  a {
    color: #111;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px 10px;
    cursor: pointer;
    transition: all .3s;

    @media only screen and(min-width: $medium-bp) {
      &:hover {
        background-color: #fffde3;
        color: $flax;
      }
    }
  }
}

.close-menu {
  font-size: 55px;
  padding-left: 20px;
  cursor: pointer;
}
